{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block head %}
<title>Register pls</title>
<meta name="description" content="Login to this site!">

<meta property="og:title" content="Login">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Story9">
{% endblock head %}

{% block script_head %}
<script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
{% endblock script_head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/wave.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock style %}

{% block body %}

<div class="login-dark" style="height: 695px;">
    <form class="form-signin" method="POST">
        <h2 class="card-title">Register</h2>
        {% csrf_token %}
        <div class="form-group form-label-group">{% render_field form.username class="form-control" placeholder="Username" %}</div>
        <div class="form-group form-label-group">{% render_field form.email class="form-control" placeholder="Email" %}</div>
        <div class="form-group form-label-group">{% render_field form.password1 class="form-control" placeholder="Password" %}</div>
        <div class="form-group form-label-group">{% render_field form.password2 class="form-control" placeholder="Retype password" %}</div>
        <div class="form-group form-label-group"><button class="btn btn-primary btn-block">Register</button></div><a class="forgot" href={% url 'userauth:login' %}>Already have an account?</a>
    </form>
</div>

<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>
{% endblock body %}

{% block script_foot %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock script_foot %}