{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block head %}
<title>Login pls</title>
<meta name="description" content="Login to this site!">

<meta property="og:title" content="Login">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Story9">
{% endblock head %}

{% block script_head %}
<script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
{% endblock script_head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/wave.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock style %}

{% block body %}

<div class="mx-auto" style="width: 50%;">
  <div class="mystery text-center" style="padding-top: 30vh; color: #ffff">
    {% if request.user.is_authenticated %}
    <h1>Hello, {{request.user.username}}!</h1>
    <h3>Here's your wisdom</h3>
    <p id="quote">Your will have a great IPK this semester!</p>
    <i><p id="author">Believe in yourself!</p>
    <div class="pt-5">
      <a href={% url 'userauth:logout' %}>
        <button type="button" class="btn btn-danger mx-auto" style="width: 50%">Logout</button>
      </a>
    </div>
    {% else %}
    <h1>Psstt, wanna hear some wisdom?</h1>
    <div class="pt-5">
      <a href={% url 'userauth:login' %}>
        <button type="button" class="btn btn-primary mx-auto" style="width: 50%">Login</button>
      </a>
    </div>
    {% endif %}
  </div>
</div>


<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>
{% endblock body %}

{% block script_foot %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock script_foot %}