{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Simple Book Finder!</title>
<meta name="description" content="Find book!">

<meta property="og:title" content="Find Books!">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Find Books!">
{% endblock head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/wave.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/story8_style.css' %}">
{% endblock style %}

{% block script_head %}
{% comment %} Fontawesome icons {% endcomment %}
<script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
{% comment %} jQuery {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock script_head %}

{% block content %}
<div class="jumbotron">
  <h1>Find books!</h1>
  <div class="searchbox">
    <input class="search drop-card" type="text" id="query" name="query" placeholder="Search for book title or author..."/>
  </div>
</div>

<div class="content-wrapper">
  {% comment %} 
  <div class="inner drop-card">
    <div class="description">
    <h4>Title</h4>
      <ul>
        <li>Title</li>
        <li>Publisher</li>
        <li>Categories</li>
        <li>Author (optional)</li>
        <li>Published date</li>
        <li>ISBN 13 / 10</li>
      </ul>
    </div>
  </div> 
  {% endcomment %}

</div>

<a>
  <div class="jumbotron">
    <button class="search">Next</button>
  </div>
</a>

<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>
{% endblock content %}

{% block script_foot %}
<script src={% static 'js/book_script.js' %}></script>
{% endblock script_foot %}