html, body {
    height: 100%;
    width: 100%;
    display: table
}

.login-container {
  display: table-cell;
  vertical-align: middle;
  background-color: #00bcd4 !important;
}

.card-login {
    width: 20%;
    margin: 0 auto;
}

.card-header{
    background-color: #e91e63;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
