@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto&display=swap");

#page-container {
  max-width: 650px;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  #page-container {
    max-width: 95vw;
  }
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  margin-top: 5rem;
  font-family: "Carter One", sans-serif;
  color: #fff;
}

.jumbotron {
  width: 100%;
}

.searchbox {
  margin: auto;
  width: 100%;
}

.search {
  width: -webkit-fill-available;
  margin: 25px 0 25px;
  height: 1em;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
}

.search:focus {
  border: none;
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #39206b;
}

.inner article a {
  color: rgb(11, 75, 170, 1);
}

.inner article a:hover {
  color: rgb(11, 75, 170, 0.79);
}

.inner {
  line-height: 1.5em;
  overflow: hidden;
  margin-top: 10px;
  padding: 20px;
  border: solid white 1px;
  border-radius: 10px;
  background-color: white;
}

.drop-card {
  transition: all .15s ease-in-out;
}

.drop-card:hover {
  filter: drop-shadow(0 5px 5px rgb(0,0,0,0.5));
  transform: translate(0px, -2px);
}

.jumbotron > button {
  padding: 0;
  padding-top: 1em;
  padding-bottom: 2em;
  margin: 2em 0 4em;
}

.jumbotron > button:hover {
  background-color: #eeb580;
  transition: ease-in 200ms;
}

.waveWrapper {
  position: fixed;
}