@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto&display=swap');

#page-container {
    max-width: 650px;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    #page-container {
        max-width: 95vw;
    }
}

#content-wrap {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

article {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a i {
    float: right;
    margin-top: 2px;
}

.accord-item > a {
    display: inline-flex;
    max-width: 75%;
}

.inner article a {
    color: rgb(11, 75, 170, 1);
}

.inner article a:hover {
    color: rgb(11, 75, 170, 0.79);
}

.expand {
    display: inline-flex;
    float: right;
}

.control {
    display: inline-flex;
    float: right;
}

.control i {
    margin-right: 1em;
    color: rgba(255, 255, 255, 0.78);
}

.control i:hover {
    color: rgba(255, 255, 255, 1);
}

h1 {
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Carter One', sans-serif;
    color: #fff;
}

i {
     transition: 0.5s ease;
}

ul {
    list-style: none;
    padding: 0;
}

ul .inner {
    overflow: hidden;
    display: none;
    margin-top: 10px;
    padding: 20px;
    border: solid white 1px;
    border-radius: 10px;
    background-color: white;
}

.inner article ul {
    list-style: disc;
    padding-left: 1.3em;
}

ul li {
    margin: 0.5em 0;
}

ul li div.accord-item {
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    padding: 17px;
    border-radius: 0.7em;
}

ul li div.accord-item:hover {
    background: rgba(0, 0, 0, 0.9);
}