.login-dark, .card {
  height: 1000px;
  background-size: cover;
  position: relative;
}

.login-dark .card-title {
    text-align: center;
}

.login-dark form, .card {
  max-width: 320px;
  width: 90%;
  background-color: #d8d8d8;
  padding: 40px;
  border-radius: 0.7em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #27273c;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #27273c;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}
