{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>About Me!</title>
<meta name="description" content="About Dennis">

<meta property="og:title" content="About Me!">
<meta property="og:type" content="website">
<meta property="og:site_name" content="About Dennis">
{% endblock head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/wave.css' %}">
{% endblock style %}

{% block script_head %}
{% comment %} Fontawesome icons {% endcomment %}
<script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
{% comment %} jQuery {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script type="module">import html5sortable from 'https://cdn.skypack.dev/html5sortable';</script>
{% endblock script_head %}

{% block content %}
<h1>About me!</h1>

<ul class="accordion">

  <li>
    <div class="accord-item">
      <a href="#">Recent Activity</a>
      <div class="expand"><i class="fas fa-plus"></i></div>
      <div class="control">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="inner">
      <article>
        <ul>
          <li>I'm currently pursuing a Computer Science degree in Universitas Indonesia</li>
          <li><g-emoji class="g-emoji" alias="computer" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f4bb.png">💻</g-emoji> I’m currently working on <a href="https://github.com/project-roar">Project Roar</a> and <strong>Unnamed Next.JS Blog Framework</strong></li>
          <li><g-emoji class="g-emoji" alias="seedling" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f331.png">🌱</g-emoji> I’m currently learning Typescript, Deno <g-emoji class="g-emoji" alias="sauropod" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f995.png">🦕</g-emoji>, algorithms, web development with Django</li>
          <li>I also explore GitHub occasionally</li>
        </ul>
      </article>
    </div>
  </li>

  <li>
    <div class="accord-item">
      <a href="#">Organizations/Comitee Experiences</a>
      <div class="expand"><i class="fas fa-plus"></i></div>
      <div class="control">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="inner">
      <article>
        <ul>
          <li>Akademis Maung - Member</li>
          <li>DDP0 - Head of Acedemic</li>
          <li>PMB Fasilkom UI 2020 - Mentor</li>
          <li>Developer Student Club Universitas Indonesia - Core Team</li>
        </ul>
        See more on my <a href="https://www.linkedin.com/in/denniswd/">LinkedIn</a>
      </article>
    </div>
  </li>

  <li>
    <div class="accord-item">
      <a href="#">Achievement</a>
      <div class="expand"><i class="fas fa-plus"></i></div>
      <div class="control">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="inner">
      <article>
      <ul>
        <li>Survived 1st term of college</li>
        <li>Survived 2nd term of college</li>
        <li>Maybe you should check my projects on my <a href="https://github.com/dnswd?tab=repositories">GitHub</a></li>
      </ul>
      </article>
    </div>
  </li>

  <li>
    <div class="accord-item">
      <a href="#">My Favorite Playlist</a>
      <div class="expand"><i class="fas fa-plus"></i></div>
      <div class="control">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="inner">
      <article>
        <p style="margin-top: 0">I can't sleep sometimes, so to face that issue I usually listen to these songs.</p>
        <iframe src="https://open.spotify.com/embed/playlist/2hRK0EPufLi1g8QWijDg7b" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </article>
    </div>
  </li>

  <li>
    <div class="accord-item">
      <a href="#">Contact me!</a>
      <div class="expand"><i class="fas fa-plus"></i></div>
      <div class="control">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="inner">
      <article>
        <ul>
          <li><a href="https://www.linkedin.com/in/denniswd/" rel="nofollow">LinkedIn</a></li>
          <li><a href="https://twitter.com/dawalangadi" rel="nofollow">Twitter</a></li>
          <li><a href="https://line.me/R/ti/p/dennisaw2000" rel="nofollow">Line Messenger</a></li>
          <li><a href="mailto:dennisaw2000@gmail.com">Email</a></li>
          <li><a href="mailto:dennis.al@ui.ac.id">Academic Email</a></li>
        </ul>
      </article>
    </div>
  </li>

</ul>

<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>
{% endblock content %}

{% block script_foot %}
<script src={% static 'js/script.js' %}></script>
{% endblock script_foot %}